{% extends 'base.html' %}
{% import 'macros.html' as macro %}

<!-- Content Block -->
{% block content %}
	<!-- Popular movie section  -->
    <h3>Popular Movies</h3>
    <ul>
    	{{ macro.displayMovieList(popular) }}
    </ul>
    <!-- Upcoming movie section -->
    <h3> Upcoming Movies </h3>
    <ul>
        {{ macro.displayMovieList(upcoming) }}
    </ul>
    <!-- Now showing movie section-->
    <h3>Now Showing</h3>
    <ul>
        {{ macro.displayMovieList(now_showing) }}
    </ul>
{% endblock %}