<!-- DISPLAYING MOVIES MACRO -->
{% macro displayMovieList(movie_list) %}

	{% for movie in movie_list %}
		<div class="col-md-2 movie-card" style="display: block;margin: 20px;border: 2px solid #ddd">
			<a href="/movie/{{movie.id}}">
	            <img src="{{movie.image}}" height="300px" alt="{{ movie.title }} poster" class="img-responsive">
	            <li class="text-center">
	                {{ movie.title|truncate(10)}}
	            </li>
       		</a>
        </div>
	{% endfor %}

{% endmacro %}

<!-- DISPLAYING REVIEWS MACRO -->
{% macro displayReviews(review_list) %}
	{% for review in review_list %}
		<div class="col-xs-12 col-sm-4 col-md-4 col-lg-4 review-card">
	        <h4> {{ review.title }} </h4>
	        <p> {{ review.review | truncate(60) }}</p>
    	</div>
    {% endfor %}
{% endmacro %}